<div class="navbar-spacer">
<nav class="navbar">
    <ul class="navbar-list" >
        <li class="navbar-item"> <a (click)="start()" [routerLink]="['']" class="navbar-link" >start</a></li>
        <li class="navbar-item"> <a (click)="last()" [routerLink]="['']" class="navbar-link" >latest</a></li>
        <li class="navbar-item"> <a [routerLink]="['loading']" class="navbar-link" >earth logs</a></li>
        <li class="navbar-item"> <a [routerLink]="['admin']" class="navbar-link" >archive</a></li>
        <li class="navbar-item"> <a [routerLink]="['canvas']" class="navbar-link" >about</a></li>
    </ul>
</nav>
</div>
