.container { 
    overflow:visible;
    flex: 1;
}
.relative {
    padding-bottom: 20px;
    flex: 1;
}
.wrap{
    position: relative;
    min-height: 100vh;
}
app-footer{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 550px){
    .container{
       overflow: hidden;
    }
}