<div class="wrapper">
    <div class="insidewrap">
        <div class="title">Archive</div>
        <div class="underline"></div>
        <div *ngFor="let chapter of chapters | async" class="chapters">
            <div  (click)="chapterClick(chapter.name)" [@chapterAnim]="chpsVisible.get(chapter.name)" class="ctitle">{{chapter.name}}</div>
            
            <!-- Each page could show a small thumbnail on hover -->
            <div [@pcontainerAnim]="chpsVisible.get(chapter.name)" class="pcontainer">
                <a *appRepeat="[chapter.start, chapter.length]; let i" [routerLink]="'/' + i"> 
                    <div class="pages">{{i}}</div>
                </a>
                </div>
            
        </div>
    </div>
</div>

